.basic
{
  @include grid-parent(
    $tr: repeat( 6, 1fr ),
    $tc: repeat( 4, 1fr ),
    $g: $padding
  );

  grid-template-areas:
    'result result result result'
    'pow reset clear div'
    'seven eight nine mul'
    'four five six min'
    'one two three add'
    'dot zero sign equal';
}