.functions
{
  @include grid-parent(
    $tr: repeat( 4, 1fr ),
    $tc: repeat( 3, 1fr ),
    $g: $padding,
  );

  grid-area: 'functions';

  grid-template-areas:
    'sin cos tan'
    'asin acos atan'
    'sinh cosh tanh'
    'asinh acosh atanh';
}