input[ type=button ]
{
  @extend %flex-center;

  background: $color-background;
  border: $border;
  border-radius: $radius;
  color: $color-color;

  &:hover
  {
    border-color: $color-color;
    color: $color-hover;
  }

  &:focus
  {
    outline: 0;
  }

  &:active
  {
    background: $color-border;
    border-color: $color-hover;
    color: $color-hover;
    transition-duration: .1s;
  }
}