input[ type=button ]
{
  background: scale-color( $color-background, $lightness: 2.5% );
  border: 1.5px outset $color-border;
  color: $color-color;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition: color .35s;
  transform: translate3d( 0, 0, 1.5px );
  transform-style: preserve-3d;

  &:hover
  {
    color: $color-hover;
  }

  &:focus
  {
    outline: 0;
  }

  &:active
  {
    background: scale-color( $color-background, $lightness: -2.5% );
    border-style: inset;
    transform: translate3d( 0, 0, -1.5px );
  }
}